.modal{
    border: 1px solid black;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
}
.modal-action-btn{
    background-color: orange;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-action-btn:hover{
    background-color: orangered;
}