.login{
    /* border: 1px solid red; */
    font-weight: 700;
    background-color: rgb(255, 237, 205);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.login-form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 10px;
}
.login-heading{
    font-size: large;
    margin: 10px;
}
.login-form-label{
    font-size: large;
}
.login-form-input{
    font-size: large;
    font-weight: 500;
    padding: 5px;
    padding-left: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    height: 40px;
}
.login-form-btn{
    border: none;
    background-color: orange;
    font-weight: 700;
    font-size: large;
    margin-top: 10px;
    padding: 5px;
}